/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {

  display: flex;
  flex-direction: column;

  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-weight);

  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 130px 0;
  margin: 100px 0px;
  border: 2px solid var(--text-color);
}

/* Логотип */
.header__logo {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(24px, 8vw, 64px);
  font-weight: bold;
  color: var(--text-color);
}

/* Заголовок */
.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(16px, 3vw, 24px);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card__label {
  font-family: var(--main-font);
  font-weight: 715;
  font-size: 18px;
  line-height: 22px;
  margin: 4px 10px;
  font-variation-settings: 'slnt' 0;
  color: var(--text-color);
  align-self: flex-start;
}

.card__description {
  font-family: var(--main-font);
  font-weight: 410;
  font-size: 18px;
  line-height: 21px;
  margin: 25px;
  font-variation-settings: 'slnt' 0;
  color: var(--text-color);
  align-self: flex-start;
}

.card__image {
  width: 100%;
  height: auto;
}

/* Пример использования акцентного шрифта */
.accent-text {
  font-family: var(--accent-font);
}

/* Пример использования разных весов Inter */
.card__title {
  font-variation-settings: 'wght' var(--title-font-weight);
}