/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {

  display: flex;
  flex-direction: column;

  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-weight);

  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 122px 0;
  margin: 100px 0px;
  border: 2px solid var(--text-color);
}

/* Логотип */
.header__logo {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(49px, 3.5vw + 35.875px, 65px);
  font-weight: 400;
  color: var(--text-color);
}

/* Заголовок */
.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(14px, 1vw + 10.25px, 23px);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  width: 100%;
  overflow: hidden;
  border: 2px solid var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  gap: 25px;
}

.card__label {
  font-family: var(--main-font);
  font-weight: 715;
  font-size: 18px;
  line-height: 22px;
  margin: 4px 10px;
  font-variation-settings: 'slnt' 0;
  color: var(--text-color);
  align-self: flex-start;
}

.image-container {
  position: relative;
  display: block;
  overflow: hidden;
}

.card__description {
  font-family: var(--main-font);
  font-weight: 410;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'slnt' 0;
  color: var(--text-color);
  align-self: flex-start;
  letter-spacing: 0.01em;
}

.card__image {
  min-height: 371px;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: right;
}

.card__item-1 .card__image {
  filter: none;
}

.card__item-2 .card__image {
  filter: brightness(50%);
}


.card__item-3 .card__image {
  filter: sepia(100%);
}

.card__item-4 .card__image {
  filter: brightness(0.7) saturate(2);
}

.card__item-5 .card__image {
  filter: invert(100%);
}

.card__item-6 .card__image {
  filter: saturate(3);
}

.card__item-7 .card__image {
  filter: blur(15px);
}

.card__item-8 .card__image {
  filter: hue-rotate(90deg) opacity(0.7);
}

.overlay-text {
  position: absolute;
  top: 7%;
  right: 7%;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  opacity: 0.5;
  color: var(--color-black);
  text-transform: uppercase;
  pointer-events: none;
  text-shadow: none;
}

@supports (mix-blend-mode: hard-light) and ((-webkit-text-stroke: 1px var(--color-white)) or (text-stroke: 1px var(--color-white))) {
  .overlay-text {
    mix-blend-mode: hard-light;
    -webkit-text-stroke: 1px var(--color-white);
    text-stroke: 1px var(--color-white);
  }
}

.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--text-color);
  cursor: pointer;
  display: block;
  text-align: center;
  min-width: 130px;
}

.button__text {
  font-family: var(--accent-font);
  line-height: 90%;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

.memory-button {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 17px 20px;
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
}

.card__like-button:focus,
.memory-button:focus,
.modal__ok-btn:focus {
  transition: box-shadow 0.3s ease;
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-black);
}

.card__like-button span,
.memory-button span,
.modal__ok-btn span {
  position: relative;
  z-index: 1;
  color: var(--color-white);
  mix-blend-mode: difference;
}

.card__icon-button {
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.3s ease;
  background: none;
  padding: 0px;
}

.card__icon-button:focus {
  outline: none;
  /* на всякий случай */
}

.card__icon-button:focus-visible {
  border-color: var(--color-black);
}

.like-icon {
  width: 28px;
  height: 28px;
  transform-origin: center;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0s;
}

.like-icon .core {
  fill: var(--heart-core-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .sparks {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-active-fill);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-active-fill);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-active-fill);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-active-fill);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-active-fill);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s 1 forwards;
}

.like-icon.is-liked .sparks {
  animation: flash-sparks 0.3s ease-in 0.3s 1 forwards;
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flash-sparks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.memory-button .like-icon {
  position: relative;
  z-index: 1;
  fill: var(--color-white);
  mix-blend-mode: difference;

}

.card__like-button::before,
.memory-button::before,
.modal__ok-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.memory-button:hover:before,
.modal__ok-btn:hover:before {
  transform: scaleX(1);
}

.modal {
  display: none;
  border: none;
  padding: 0;
  background: transparent;
}

.modal[open] {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Добавляем размытие бекдропа */
.modal[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Блокируем скролл при открытом меню */
body:has(.modal[open]) {
  overflow: hidden;
}

/* Контент внутри модального окна */
.modal__content {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  padding: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  max-width: 353px;
}

.modal__content .like-icon {
  width: 39px;
  height: 39px;
}

.modal__text {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modal__ok-btn {
  position: relative;
  grid-column: span 2;
  margin-top: 20px;
  padding: 12.5px 0px;
  border: 2px solid var(--color-black);
}

.modal__ok-btn-text {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

@keyframes likeAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -135px 0;
  }
}