  .header {
    padding: 130px 0;
  }

  .card__image {
    min-height: 696px;
  }

  .memory-button {
    padding: 0px 20px;
    flex-direction: row;
    min-height: 55px;
  }

  .memory-button svg {
    width: 21px;
    height: 21px;
  }

  .overlay-text {
    top: 3.5%;
    right: 3.5%;
  }