/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {

  display: flex;
  flex-direction: column;

  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-weight);

  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 130px 0;
  margin: 100px 0px;
  border: 2px solid var(--text-color);
}

/* Логотип */
.header__logo {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(24px, 8vw, 64px);
  font-weight: bold;
  color: var(--text-color);
}

/* Заголовок */
.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(16px, 3vw, 24px);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  border: 2px solid var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__label {
  font-family: var(--main-font);
  font-weight: 715;
  font-size: 18px;
  line-height: 22px;
  margin: 4px 10px;
  font-variation-settings: 'slnt' 0;
  color: var(--text-color);
  align-self: flex-start;
}

.image-container {
  position: relative;
  display: inline-block;
}

.card__description {
  font-family: var(--main-font);
  font-weight: 410;
  font-size: 18px;
  line-height: 21px;
  margin: 25px;
  font-variation-settings: 'slnt' 0;
  color: var(--text-color);
  align-self: flex-start;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
}

.card__image-item-1 {
  filter: none;
}

.card__image-item-2 {
  filter: brightness(50%);
}

.card__image-item-3 {
  filter: sepia(100%);
}

.card__image-item-4 {
  filter: brightness(0.7) saturate(2);
}

.card__image-item-5 {
  filter: invert(100%);
}

.card__image-item-6 {
  filter: saturate(3);

}

.card__image-item-7 {
  filter: blur(15px);
}

.card__image-item-8 {
  filter: hue-rotate(90deg) opacity(0.7);
}

.overlay-text {
  position: absolute;
  top: 10%;
  right: 10%;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  opacity: 0.5;
  color: #000000;
  text-transform: uppercase;
  pointer-events: none;
}

@supports (mix-blend-mode: hard-light) {
  .overlay-text {
    mix-blend-mode: hard-light;
    -webkit-text-stroke: 1px #FFFFFF;
    text-shadow: none;
  }
}

.card__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 25px;
  align-self: flex-end;
}

.interaction-button {
  position: relative;
  border: 2px solid var(--text-color);
  padding: 12.5px 37px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.interaction-button-text {
  font-family: var(--accent-font);
  line-height: 90%;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

.memory-button {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 20.5px 20px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  margin: 50px 100px;
}

.interaction-button:focus,
.memory-button:focus,
.modal__ok-btn:focus {
  transition: box-shadow 0.3s ease;
  outline: none;
  box-shadow: 2px 2px 0 0 black;
}

.interaction-button span, 
.memory-button span, 
.modal__ok-btn span {
  position: relative;
  z-index: 1;
  color: white;
  mix-blend-mode: difference;
}

.memory-button .like-icon {
  position: relative;
  z-index: 1;
  fill: white;
  mix-blend-mode: difference;
}

.interaction-button::before, 
.memory-button::before,
.modal__ok-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.interaction-button:hover::before,
.memory-button:hover:before, 
.modal__ok-btn:hover:before {
  transform: scaleX(1);
}

.modal {
  display: none;
  border: none;
  padding: 0;
  background: transparent;
}

.modal[open] {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}

body:has(.modal[open]) {
  overflow: hidden;
}

/* Контент внутри модального окна */
.modal__content {
  background-color: white;
  border: 2px solid black;
  padding: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  max-width: 353px;
}

/* Текст */
.modal__text {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

/* Кнопка OK */
.modal__ok-btn {
  position: relative;
  grid-column: span 2;
  margin-top: 20px;
  padding: 12.5px 0px;
  border: 2px solid black;
}

.modal__ok-btn-text{
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

/* Пример использования акцентного шрифта */
.accent-text {
  font-family: var(--accent-font);
}

/* Пример использования разных весов Inter */
.card__title {
  font-variation-settings: 'wght' var(--title-font-weight);
}

/*.card__icon-button{

    width: 27px;
  height: 24px;
  background-image: url("../svg/anim.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: likeAnimation 600ms steps(6) forwards;

}*/


@keyframes likeAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -135px 0;
    /* 27px * 5 = 135px */
  }
}