/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  --main-font-weight: 400;
  --title-font-weight: 785;
  --weight-label: 715;
  --weight-description: 410;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-red: #ff0000;
  --text-color: var(--color-black);
  --card-background: var(--color-white);
  --animation-fill-color: var(--color-red);
  --heart-contour-color: var(--color-black);
  --heart-main-color: transparent;
  --heart-core-color: transparent;
  --heart-active-fill: var(--color-red);

  --page-background:
    repeating-linear-gradient(to right,
      #E7E7E7,
      #E7E7E7 2px,
      transparent 2px,
      transparent 4px),
    repeating-linear-gradient(to bottom,
      #E7E7E7,
      #E7E7E7 2px,
      transparent 2px,
      transparent 4px),
    linear-gradient(to bottom,
      #E7E7E7 0.01%,
      #1A1A1A);
}